.HomeTitle {
    font-family: 'Inter', sans-serif;
    font-weight: 900;
    font-size: 100px;
}

.SubHeading {
    font-family: 'Inter', sans-serif;
    font-weight: 700;
    font-size: small;
  }


  .3GridTitle {
      
  }